*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.flag {
    width: 100%;
}
:root {
    --bg: hsl(0, 0%, 98%);
    --bg-offset: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);
    --gray: hsl(0, 0%, 52%);
    --border: rgba(0, 0, 0, 0.1);
}
ul,
ol {
    list-style: none;
}
body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
   
}
h1,
h2 {
    // height: 18px;
}
.wrapper {
    // width: 95%;
    // max-width: 1140px;
    // margin: 0 auto;
    // margin-left: 3rem;
    margin: 4.2em 2em 0em 7em;

}
.card-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5em;
}
.card {
    background-color: var(--bg-offset);
    padding: 0px;
    box-shadow: 0px 2px 4px var(--border);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
   

    &:hover {
        transform: scale(1.05);

        .card-content {
            h3 {
                display: block;
                -webkit-line-clamp: none;
                -webkit-box-orient: none;
                overflow: visible;
               
            }
        }
    }
}
.card-image {
    img {
        // height: 130px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 150px;
    }
}
.card-content {
    padding-bottom: 10px;
      
  

    h3 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-style: bold;
        margin-top: 1em;
    }
}
.card-list {
    margin-top: 10px;
    

    li {
        color: var(--text);
        // margin-top: 8px;

        span {
            color: var(--gray);
        }
    }
}

/* search input */
.search-wrapper {
    margin: 1em 0em;
    display: flex;
    justify-content: flex-start;
}

select {
    width: 99%;
    font-size: 16px;
    background-color: var(--bg-offset);
    background-size: 16px 16px;
    background-position: left 10px center;
    background-repeat: no-repeat;
    padding: 1em 1em;
    padding-left: 1em;
    border: 1px solid var(--border);
    color: var(--gray);
    box-shadow: 0px 4px 6px var(--border);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 10px;
    border-radius: 5px;
   
  
    &:hover {
        box-shadow: 0px 0px 0px var(--border);
    }
}


.search-box {
    width: "250px";
    margin: "0px 40px 0px 20px";
    background-color: "#efefef";
    box-shadow: "none";
    height: 30px;          
}

@media (max-width: 1024px) {
    .search-input {
        width: 100%;
    }
    .search-wrapper {
        justify-content: start;
        flex-wrap: wrap;
    }
    .wrapper {
        margin: 4em 1em 1em 1em;
    }
    .select {
         margin-left: 0px;
    }
}

.search-input {
    width: 99%;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNS44NTMgMTYuNTZjLTEuNjgzIDEuNTE3LTMuOTExIDIuNDQtNi4zNTMgMi40NC01LjI0MyAwLTkuNS00LjI1Ny05LjUtOS41czQuMjU3LTkuNSA5LjUtOS41IDkuNSA0LjI1NyA5LjUgOS41YzAgMi40NDItLjkyMyA0LjY3LTIuNDQgNi4zNTNsNy40NCA3LjQ0LS43MDcuNzA3LTcuNDQtNy40NHptLTYuMzUzLTE1LjU2YzQuNjkxIDAgOC41IDMuODA5IDguNSA4LjVzLTMuODA5IDguNS04LjUgOC41LTguNS0zLjgwOS04LjUtOC41IDMuODA5LTguNSA4LjUtOC41eiIvPjwvc3ZnPg==');
    background-color: var(--bg-offset);
    background-size: 16px 16px;
    background-position: left 30px center;
    background-repeat: no-repeat;
    padding: 0.8em 1em;
    padding-left: 4em;
    border: 1px solid var(--border);
    color: hsl(200, 15%, 8%);
    box-shadow: 0px 4px 6px var(--border);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-size: 16px;
    border-radius: 40px;
    

    &:hover {
        box-shadow: 0px 0px 0px var(--border);
    }
}






.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}


.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
