.popup {
  width: auto;
  min-width: 110px;
  opacity: 0.9;
  font-size: 1em;
}

.marker {
  /* background-color:#FF8D23; */
  height: 5em;
  width: 5em;
  border: 2px solid #fff;

  border-radius: 50%;
  cursor: pointer;
  transition: 250ms ease-out;
}

.marker:hover {
  height: auto;
  width: 25em;
  border: 3px solid #fff;
  border-radius: 0%;
  transition: 500ms ease-in;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map {
 width: 57.5vw;
  height: 100vh;
}

/* .sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}   */

/* p {
  font-size: 16px;
  padding: 0.5em 2em 0em 1.5em;
  color: #fff;
}

  a:hover {
    text-decoration: none !important;
    color: orangered !important;
    cursor: pointer !important;
  }


h4, h5 {
  padding: 1em 0em 0em 1em;
}

.region {
  border: 1px solid #fff;
  height: 20vh;
  width: 17vw;
  display: flex;
  justify-content: flex-start;
}

.region-button {

  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 17vw;
  display: flex;
  justify-content: start;
  text-align: left;
}

.link {
  background: transparent;
  opacity: 0.1;
  border-radius: 50%;
  border: 8px solid black;
  color: black;
  transition: opacity 2s;
}

.india {
  height: 2.7em;
  width: 2.7em;
  position: absolute;
  top: 64%;
  left: 62.7%;
  border-color: orange;
}

.india:hover {
  opacity: 0.9;
}  */

/* 
.card {
  text-transform: uppercase;
  text-align: left;


}

.card-body {
  text-transform: uppercase;
  text-align: left;
   background-color: #243447;
  color: #ffffff;

}

.card-text {
  color: #fff;
}

.dark-mode .card {
  background-color: #243447;
  color: #ffffff;
}

.dark-mode .card h3 {
  color: #C51F5D
}

.light-mode .card {
   background-color: #243447;
  color: #ffffff;
}

.light-mode .card h3 {
  color: #FFB347;
}

.btn {
  outline: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
} 

svg {
  display: inline-block;
  vertical-align: middle;
  max-height: 400px;
  width: 100%;
  padding: 0;
}  */

/* .circle {
    width: 15px;
    height: 15px;
    background-color: #62bd19;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 23px;
}

.ringring {
    border: 3px solid #62bd19;
    -webkit-border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
} */

/* 
.marker {
  width:0;
  height:0;
}

.marker  span {
  display:flex;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
  width: 30px;
  height: 30px;
  color:#fff;
  background: #4D2D73;
  border:solid 2px;
  border-radius: 0 70% 70%;
  box-shadow:0 0 2px #000;
  cursor: pointer;
  transform-origin:0 0;
  transform: rotateZ(-135deg);
}

.marker b {
  transform: rotateZ(135deg)
}

.temporary-marker span {
  background: #D3D3D3;
} */
